.myButton {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #9dd558;
	border-radius: 18px;
	padding: 18px 0;
	width: 245px;
	&:hover {
		.arrow {
			transform: translateX(-5px);
		}
	}
}

.title {
	font-weight: 600;
	font-size: 16px;
	line-height: calc(19 / 16);
	color: #ffffff;
}

.arrow {
	position: absolute;
	left: 20px;
	top: 17px;
	transition: transform 0.2s ease-in-out;
	svg {
		width: 20px;
		height: 20px;
		stroke: #ffffff;
	}
}
